<form class="places__sorting" action="#" method="get">
  <span class="places__sorting-caption">Sort by</span>
  <span appToggle class="places__sorting-type" tabindex="0" (toggled)="toggleOptions()" (closed)="closeOptions()">
                  Popular
                  <svg class="places__sorting-arrow" width="7" height="4">
                    <use xlink:href="#icon-arrow-select"></use>
                  </svg>
                </span>
  <ul appOutsideClick
      [isEnable]="isOpen()"
      (outsideClicked)="isOpen() && closeOptions()"
      class="places__options places__options--custom"
      [ngClass]="{'places__options--opened': isOpen()}">
    @for (sortType of Object.values(SortType); track sortType) {
      <li appSelectSortType [sortType]="sortType"
          (sortTypeSelected)="onSortTypeSelected($event)"
          class="places__option"
          [ngClass]="{'places__option--active': currentSortType === sortType}"
          tabindex="0">{{ sortType }}
      </li>
    }
<!--       <li class="places__option places__option&#45;&#45;active" tabindex="0">Popular</li>
       <li class="places__option" tabindex="0">Price: low to high</li>
       <li class="places__option" tabindex="0">Price: high to low</li>
       <li class="places__option" tabindex="0">Top rated first</li>-->
  </ul>
</form>

